
body {
  font-family: 'Montserrat' ,sans-serif;
  background-color: hsl(240, 78%, 98%);
  padding: 0px;
  margin: 0px;
  font-size: 15px;
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

label {
  display: block;
  width: 60px;
  height: 30px;
  background-color: hsl(237, 63%, 64%);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

label::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  border-radius: 70px;
  top: 0px;
  left: 0px;
  transition: 0.5s;

}

input:checked + label:after {
  left: 30px;
}

.subscription-toggle{
    display: flex;
    justify-content: center;
    gap : 10%;
}


.price-container {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-page {
  background-image: url("/images/bg-bottom.svg"), url("/images/bg-top.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 9%;
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  height: 100vh;
}

.sub-price-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2%;
  flex-basis: 400px;
  background-color: #ffff;
  border-radius: 5px;
  height: 45vh;
  font-weight: 700;
  color:#9294a5;
}

.pricing {
  font-size: 3rem;
}

.offer-discription {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-discription > hr {
  width: 100%;
}
.button-div{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;;
}

.button-div > button{
    flex-basis: 80%;
    color: white;
    padding: 5%;
    background-color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 10px;

}


.sub-price-container:hover{
  background-color: hsl(237, 63%, 64%);
  color: white;
  flex-basis: 420px;
  transform: scale(1.2);
}

.sub-price-container:hover .button-div > button{
  background-color: #fff;
  color: black;
}
